<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
    @{
        string r = ViewContext.RouteData.Values["Controller"].ToString();
    }
    <link href="Content/Admin.css" />
</head>
<body>

<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
            <h1>Vy Admin</h1>
        </div>

        <ul class="list-unstyled components">
            <p>Velkommen Admin</p>
            <li class="@(r == "Admin" ? "active" : "")">
                <a href="/Admin">Dashbord</a>
            </li>
            <li class="@(r == "Stations" ? "active" : "")">
                <a href="/Stations">Stasjoner</a>
            </li>
            <li class="@(r == "Lines" || r == "Departure" ? "active" : "")">
                <a href="/Lines">Linjer</a>
            </li>
            <li class="@(r == "Category" ? "active" : "")">
                <a href="/Category">Priser</a>
            </li>
        </ul>
    </nav>

    <div id="content" style="width: 100%">
        <div class="container body-content">

            @*<button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>*@

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Vy billett side</p>
            </footer>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
