@model List<VyBillett.Models.TravelDeparture>

@{
    ViewBag.Title = "Departures";
}

<h2>Departures</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    bool first = true;
    foreach (var td in Model)
    {
        <div class="form-row">
            <div class="form-check">
                @if (first) {
                <input class="form-check-input" type="radio" name="exampleRadios" id="@td.Departure.Line.LineId" value="@td.Departure.Line.LineId" checked>
                    first= false;} 
                else
                {
                <input class="form-check-input" type="radio" name="exampleRadios" id="@td.Departure.Line.LineId" value="@td.Departure.Line.LineId">
                }
                <label class="form-check-label" for="@td.Departure.Line.LineId">
                    <span class="col-4">@td.Departure.Line.Name</span>
                    <span class="col-4">@td.StationFrom.Name -> @td.StationTo.Name</span>
                    <span class="col-4">@td.DepartureTime.ToString("HH:mm") -> @td.ArrivalTime.ToString("HH:mm")</span>
                </label>
            </div>
        </div>

    }
    <button type="submit" class="btn btn-primary">Kjøp</button>
}

<div>
    @Html.ActionLink("Tilbake til forsiden", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
