@model VyBillett.Models.DepartureDTO

@{
    ViewBag.Title = "Departures";
}

<h2>Departures</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    bool first = true;
    var vtd = ViewData["travelDepartures"] as List<VyBillett.Models.TravelDeparture>;

    foreach (var td in ViewData["travelDepartures"] as List<VyBillett.Models.TravelDeparture>)
    {
        <div class="form-group row">

            <div class="form-check">
                @if (first)
                {
                    <input class="form-check-input" type="radio" name="Departure" id="@td.DepartureTime.ToString("HH:mm")" value="@td.Departure.Line.LineId" checked>
                    first = false;
                }
                else
                {
                    <input class="form-check-input" type="radio" name="Departure" id="@td.DepartureTime.ToString("HH:mm")" value="@td.Departure.Line.LineId">
                }
                <label class="form-check-label" for="@td.DepartureTime.ToString("HH:mm")">
                    <span class="col-4">@td.Departure.Line.Name</span>
                    <span class="col-4">@td.StationFrom.Name -> @td.StationTo.Name</span>
                    <span class="col-4">@td.DepartureTime.ToString("HH:mm") -> @td.ArrivalTime.ToString("HH:mm")</span>
                </label>
            </div>
        </div>
    }
    <hr />

    <div class="form-group row">
        <label for="cardnumber" class="col-sm-2 col-form-label">Kortnummer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cardnumber" placeholder="Kortnummer">
        </div>
    </div>
    <div class="form-group row">
        <label for="expirationdate" class="col-sm-2 col-form-label">Utløpsdato</label>
        <div class="col-sm-10">
            <input type="month" class="form-control" id="expirationdate" placeholder="Utløpsdato">
        </div>
    </div>
    <div class="form-group row">
        <label for="expirationdate" class="col-sm-2 col-form-label">CVE</label>
        <div class="col-sm-3">
            <input type="month" class="form-control" id="expirationdate" placeholder="CVE">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Kjøp</button>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbake til forsiden", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
