@model VyBillett.Models.TicketDTO

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>Hei, Hvor vil du reise?</h1>
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-row">
            <div class="col-md-6">
                <label for="date-input-from">Reise fra</label>
                <div class="input-group-lg mb-3">
                    @Html.TextBoxFor(model => model.From, new
                    {
                        @class = "form-control",
                        @id = "date-input-from",
                        type = "text",
                        list = "datalist-from",
                        autocomplete = "off",
                        placeholder = "Hvor vil du reise fra?"
                    })
                    <datalist id="datalist-from"></datalist>
                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <label for="date-input-to">Reise til</label>
                <div class="input-group-lg mb-3">
                    @Html.TextBoxFor(model => model.To, new
                    {
                        @class = "form-control",
                        @id = "date-input-to",
                        type = "text",
                        list = "datalist-to",
                        autocomplete = "off",
                        placeholder = "Hvor vil du reise til?"
                    })
                    <datalist id="datalist-to"></datalist>
                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label for="date">Utreise</label>
                <div class="input-group-lg mb-3">
                    @Html.TextBoxFor(model => model.Date, new
                    {
                        @class = "form-control",
                        type = "date",
                        placeholder = "Hvilken dag skal du reise?"
                    })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <label for="date-time">Tid</label>
                <div class="input-group-lg mb-3">
                    @Html.TextBoxFor(model => model.Time, new
                    {
                        @class = "form-control",
                        type = "time",
                        placeholder = "Når vil du reise?"
                    })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-row" id="ticketType">
             <div class="col-md-6">
                 Billett typer
             </div>
             <div class="col-md-6">
                 <div class="modal fade" id="avganger_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                 </button>
                             </div>
                             <div class="modal-body" id="modal_departures">
                                 ...
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Avslutt</button>
                                 <button type="button" class="btn btn-primary">Kjøp billett</button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
        <button type="button" id="departure_open" class="btn btn-primary" data-toggle="modal" data-target="#avganger_modal">Se avganger og priser</button>
    }
    @*<form asp-action="Create" class="needs-validation" novalidate method="post">
            <div class="form-row">
                <div class="col-md-6">
                    <label for="date-input-from">Reise fra</label>
                    <div class="input-group-lg mb-3">
                        <input autocomplete="off" list="datalist-from" type="text" class="form-control" id="date-input-from" placeholder="Hvor vil du reise fra?" required>
                        <datalist id="datalist-from">
                        </datalist>
                        <div class="invalid-feedback">
                            Skriv inn hvor du vil reise fra
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="date-input-to">Reise til</label>
                    <div class="input-group-lg mb-3">
                        <input autocomplete="off" list="datalist-to" type="text" class="form-control" id="date-input-to" placeholder="Hvor vil du reise til?" required>
                        <datalist id="datalist-to">
                        </datalist>
                        <div class="invalid-feedback">
                            Skriv inn hvor du vil reise til
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3">
                    <label for="date">Utreise</label>
                    <div class="input-group-lg mb-3">
                        <input type="date" class="form-control" id="date" placeholder="Dag / Måned - År" required>
                        <div class="invalid-feedback">
                            Velg en dato du vil reise dra
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1">
                    <label for="date-time">Tid</label>
                    <div class="input-group-lg mb-3">
                        <input type="time" class="form-control" id="date-time" placeholder="HH:MM" required>
                        <div class="invalid-feedback">
                            Velg når på dagen du vil reise fra
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" id="ticketType">

            </div>
            <button type="submit" class="btn btn-primary">Bestill</button>
        </form>*@
</div>

@section scripts {
    <script src="~/Scripts/form_population.js" type="text/javascript"></script>
}