@model VyBillett.Models.Ticket

@{
    ViewBag.Title = "Receipt";
    var fromLineStation = ViewData["FromLineStation"] as VyBillett.Models.LineStation;
    var toLineStation = ViewData["ToLineStation"] as VyBillett.Models.LineStation;
}
 
<div class="container">
    <div class="row">
        <h2>Ditt kjøp er fullført!</h2>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <h3>Avgang</h3><br />
                <p>Klokken: <span>@Model.Departure.DateTime.AddMinutes(fromLineStation.Minutes)</span></p><br />
                <p>Stasjon: <span>@Model.From.Name</span></p>
            </div>
            <div class="row">
                <h3>Ankomst</h3><br />
                <p>Klokken: <span>@Model.Departure.DateTime.AddMinutes(toLineStation.Minutes)</span></p><br />
                <p>Stasjon: <span>@Model.To.Name</span></p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <h3>Kategorier</h3><br />
                <p>Voksen: <span>@Model.NumAdult</span></p><br />
                <p>Student: <span>@Model.NumStudent</span></p><br />
                <p>Barn: <span>@Model.NumChild</span></p>
            </div>
            <div class="row">
                <h3>Billett</h3><br />
                <p>Pris: <span>@Model.Price</span></p><br />
                <p>Id: <span>@Model.Id</span></p><br />
                <p>Dato: <span>@Model.Date</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Pris og kvitterings-id</h3>
    </div>
</div>
